@model IEnumerable<BaoCaoWeb.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_user.cshtml";
}

@section style{
    <style>
        .product1 {
            margin-left: 250px
        }

        .product_in41 {
            width: 210px;
            border: 5px solid white;
            box-shadow: 1px 1px 5px 5px #cccccc;
            margin: 20px;
            height:410px;
        }

        .product_img1 {
            width: 200px;
            height: 260px;
        }

        .txt_buy1 {
            width: 200px;
            height: 35px;
            background-color: #e47084;
            color: white;
            padding-top: 10px;
            text-decoration: none
        }

        .a4 {
            text-decoration: none
        }

        .product_price1 {
            color: gray
        }

        .product1 {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(auto-fit, 250px);
            grid-template-rows: repeat(auto-fit, 430px);
        }

        /*.slideshow-container {
            max-width: 1000px;
            position: relative;
            margin-left: 250px;
            margin-top: -25px;
        }*/

    </style>

}

@Html.Action("slider");
<div class="product1">

    @foreach (var product in Model)
    {
    <div class="item  col-xs-4 col-lg-4">
        <div class="product_in41">
            <center>
                <a class="a4" href="#">
                    <img class="product_img1" src="@product.image"/>
                </a>
                <div class="txt_buy1">
                    <a class="txt_buy1" href="@Url.Action("Chitietsanpham", "Product", new { Id = product.productId })"> Mua ngay </a>
                </div>


                <p class="product_price1">@product.productName </p>
                <p class="product_price1">Giá Bán:@Html.FormatValue( product.price, "{0:#,###}") VND </p>
            </center>
        </div>
    </div>
    }
</div>



@section js{
    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>
}
@*<script>

        var slideIndex = 1;
        showSlides(slideIndex);
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";

            dots[slideIndex - 1].className += " active";



        }
        $(document).ready(function () { setInterval(showSlides, 5000); })

    </script>*@

